<%- include('../partials/header') %>
<div>
    <h3>Pick Your Team</h3>
  </div>
  <table class="striped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Bye Week</th>
          <th>More Info</th>
        </tr>
      </thead>
      <tbody>
        <% teams.forEach(function(m) { %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.byeWeek %></td>
            <td><a href="/teams/<%=m._id %>">DETAILS</a></td>
            <td><form action="/teams/<%=m._id%>?_method=DELETE" method="POST"><button>X</button></form></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <!-- <input type="submit" value="Select Team"> -->
  <form action="/teams/new">
  <input type="submit" value="Add Team">
  </form>




<%- include('../partials/footer') %> 