<%- include('../partials/header') %>

<div class="valign-wrapper left team-info">
    <img src="<%= team.image%>.gif" alt="team logo">
    <div class="team-name">
        <h5><%= title %></h5>
    </div>
    <div class="bye-week">
        <h6>Bye Week: <%= team.byeWeek%></h6>
    </div>
</div>
<br>
<br>

<table class="striped highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>ADP</th>
            <th>More Info</th>
            <th>Delete Player</th>
        </tr>
    </thead>
    <tbody>
        <% team.players.forEach(p => { %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.position %></td>
            <td><%= p.adp %></td>
            <td><a href="/players/<%=p._id %>">DETAILS</a></td>
            <td>
                <form action="/players/<%=p._id%>?_method=DELETE" method="POST"><button>X</button></form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<div>
    <form action="/teams/<%= team._id %>/players/new">
        <input type="submit" value="Add Player">
    </form>
</div>
<%- include('../partials/footer') %>