<%- include('../partials/header') %>

<div>Team: </div>
<div><%= team.name %></div>

<div>Bye Week: </div>
<div><%= team.byeWeek%></div>

<div>Players: </div>
<div><%= team.players%></div>


<form action="/players/new">
    <input type="submit" value="Add Player">
</form>

<%- include('../partials/footer') %>