<%- include('../partials/header') %>

<div class="valign-wrapper left team-info">
    <div class="team-name">
        <h5><%= title %></h5>
    </div>

</div>
<br>
<br>

<table class="striped highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>ADP</th>
            <th>More Info</th>
            <th>Delete Player</th>
        </tr>
    </thead>
    <tbody>
        <% user.players.forEach(p => { %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.position %></td>
            <td><%= p.adp %></td>
            <td><a href="/players/<%=p._id %>">DETAILS</a></td>
            <td>
                <form action="/players/<%=p._id%>?_method=DELETE" method="POST"><button class="del-button">X</button></form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<div>
    <form action="/teams">
        <input type="submit" value="Find More Players">
    </form>
    
</div>
<%- include('../partials/footer') %>